<div class="stepByStepContainer">
    <div>
        <h1 class="text header">Appointment registration</h1>
        <div style="display: flex;justify-content: center;">
            <mat-vertical-stepper [linear]="false" style="width: 40rem;" #stepper (animationDuration)="600">
                <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Choose appointment date</ng-template>
                    <mat-form-field appearance="fill">
                    <mat-label>Pick date</mat-label>
                    <input placeholder="MM/DD/YYYY" [(ngModel)]="chosenDate" (dateChange)="dateIsChanged()" [ngModelOptions]="{standalone: true}" matInput [min]="minDate" [max]="maxDate" [formGroup]="firstFormGroup" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error  *ngIf="!firstFormGroup.hasError('required') && (minDate > chosenDate || chosenDate > maxDate)">
                        Date not valid!
                    </mat-error>
                    </mat-form-field>
                    <div>
                    <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
                </mat-step>
                <mat-step #specialty>
                    <ng-template matStepLabel>Pick doctor speciality</ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Speciality type</mat-label>
                        <mat-select [(ngModel)]="chosenSpeciality" (selectionChange)="pushPossibleDoctors()">
                            <mat-option *ngFor="let possibleSpeciality of possibleSpecialities" [value]="possibleSpeciality">
                            {{possibleSpeciality.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <form>
                        <ng-template matStepLabel>Pick doctor</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Doctor</mat-label>
                            <mat-select [(value)]="chosenDoctor">
                                <mat-option *ngFor="let possibleDoctor of possibleDoctors" [value]="chosenDoctor">
                                {{possibleDoctor.name + " " + possibleDoctor.surname + " " + possibleDoctor.uid}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext (click)="getTimeIntervals()">Next</button>
                        </div>
                    </form>
                    </mat-step>
                <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </div>
</div>