.navbarLinks{
  display: flex;
  gap: 16px;
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
  background-color:#075985;
  border-radius: 16px;
  border: 4px solid #0c4a6e; 
}
Button {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-weight: 800;
}