<div class="login-wrapper">
    <div class="login">
        <div class="left-side">
            <div class="form-inner">
                <div class="title-wrapper">
                    <h1 class="text">Welcome!</h1>
                    <small class="text">Login to levi five hospital!</small>
                </div>
                <div class="input-wrapper">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input id="username" matInput placeholder="Username..." [(ngModel)]="caughtEmail">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input id="password" matInput type="password" color="accent" placeholder="Password..."
                            [(ngModel)]="caughtPassword">
                    </mat-form-field>
                </div>
                <button id="login" mat-stroked-button (click)="logIn()">Sign In</button>
                <div style="position: relative; width: 15rem;">
                <p *ngIf="!validForm" id="error" class="text" style="color: rgb(185, 22, 22) !important; position: absolute;">{{errorMessage}}</p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <picture>
                <img src="../../../assets/Doctor.jpg" alt="doctor">
            </picture>
        </div>
    </div>
</div>