<div style="display: flex;flex-direction: column;position: relative;">
    <div class="spinner" *ngIf="isLoading"><div class="mainSpinning"><mat-spinner></mat-spinner></div></div>
    <div class="myAppointmentContainer">
        <div>
            <h1 class="text header">My appointments</h1>
            <div class="FeedbackViewPage">
                <div class="tableContainer">
                    <table mat-table [dataSource]="dataSource" class="table">
                        <ng-container matColumnDef="Patient">
                            <th mat-header-cell *matHeaderCellDef style="width: 250px;" class="cell-center text tableHeader"> Patient </th>
                            <td mat-cell *matCellDef="let appointment" class="clickable cell-center text">{{appointment.patientId}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Doctor">
                            <th mat-header-cell *matHeaderCellDef class="cell-center text tableHeader"> Doctor </th>
                            <td mat-cell *matCellDef="let appointment" class="cell-center text table_text">{{appointment.doctor.name + " " + appointment.doctor.surname}}</td>
                        </ng-container >
                        <ng-container matColumnDef="Room">
                            <th mat-header-cell *matHeaderCellDef class="cell-center text tableHeader"> Room </th>
                            <td mat-cell *matCellDef="let appointment" class="cell-center text table_text">{{appointment.room.roomNumber}}</td>
                        </ng-container >
                        <ng-container matColumnDef="Start">
                            <th mat-header-cell *matHeaderCellDef class="cell-center text tableHeader"> Start </th>
                            <td mat-cell *matCellDef="let appointment" class="cell-center text table_text">{{appointment.startAt.split('T')[0] + " " + appointment.startAt.split('T')[1]}}</td>
                        </ng-container >
                        <ng-container matColumnDef="End">
                            <th mat-header-cell *matHeaderCellDef class="cell-center text tableHeader"> End </th>
                            <td mat-cell *matCellDef="let appointment" class="cell-center text table_text">{{appointment.endAt.split('T')[0]  + " " + appointment.endAt.split('T')[1]}}</td>
                        </ng-container >
                        <ng-container matColumnDef="State">
                            <th mat-header-cell *matHeaderCellDef class="cell-center text tableHeader"> State </th>
                            <td mat-cell *matCellDef="let appointment" class="cell-center text table_text">{{appointmentState[appointment.state]}}</td>
                        </ng-container >
                        <ng-container matColumnDef="Action" >
                            <th mat-header-cell *matHeaderCellDef class="cell-center text tableHeader"> Action </th>
                            <td mat-cell *matCellDef="let appointment"><button  mat-button class="inner_button" *ngIf="appointmentState[appointment.state] == 'Pending'" (click)="cancelAppointment(appointment.id)">Cancel</button></td>
                        </ng-container >
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>