
div {
    margin: auto;
}

mat-form-field {
    width: 50%;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}
button{
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 300px;
}
.input-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 50rem;
    margin-right: auto;
    margin-left: auto;
}
::ng-deep .mat-button{
    color:#06b6d4;
}
::ng-deep .mat-calendar {
    background-color: #475569;
   }
::ng-deep .mat-calendar-body-label{
    color:#06b6d4;
}
::ng-deep .mat-calendar-body-cell-content{
    color:#06b6d4;
}
::ng-deep .mat-calendar-body-selected{
    background-color: #155e75;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #06b6d4;
}