<div style="width: auto; flex-direction:column; flex: content; justify-content: center;margin-bottom: 5rem;">
    <h1 style="text-align: center; margin-top: 5rem; font-weight: 600; font-size: 3.75rem;line-height: 1;" class="text">Registration</h1>
    <p style="text-align: center; margin-top: 16px; font-weight: 600; font-size: 1.875rem;line-height: 2.25rem;" class="text">Please, fill every field validly!</p>
    <div style="display: flex; flex-direction: column;margin-top: 5rem;margin-bottom: 3rem;">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="user.name" required [formControl]="name" placeholder="Ex. Pera"  (change)="ValidateForm()">
            <mat-error  *ngIf="name.hasError('required')">
                Name is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="name.hasError('pattern') && !name.hasError('required')">
                Name not valid!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput [(ngModel)]="user.surname" required [formControl]="surname" placeholder="Ex. Peric" pattern="[a-zA-Z ]*" (change)="ValidateForm()">
            <mat-error  *ngIf="surname.hasError('required')">
                Surname is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="surname.hasError('pattern') && !surname.hasError('required')">
                Surname not valid!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="user.email" [formControl]="email" placeholder="Ex. gmail@gmail.com" (change)="ValidateForm()">
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Please enter a valid email address!
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error  *ngIf="email.hasError('EmailUnique') && !email.hasError('pattern') && !email.hasError('required')">
                Email not unique!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Uid</mat-label>
            <input matInput type="string" maxlength="8" [formControl]="uid" placeholder="Ex. 12345678" [(ngModel)]="user.uid" (change)="ValidateForm()">
            <mat-error  *ngIf="uid.hasError('required')">
                Uid is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="uid.hasError('pattern') && !uid.hasError('required')">
                Uid not valid!
            </mat-error>
            <mat-error  *ngIf="uid.hasError('UidUnique') && !uid.hasError('pattern') && !uid.hasError('required')">
                Uid not unique!
            </mat-error>
        </mat-form-field>
        <div style="margin-bottom: 1rem;">
            <mat-form-field style="width: 14rem;" appearance="fill">
                <mat-label>Street</mat-label>
                <input matInput [(ngModel)]="user.address.street" [formControl]="street" placeholder="Ex. Street" (change)="ValidateForm()">
                <mat-error  *ngIf="street.hasError('required')">
                    Street is <strong>required</strong>!
                </mat-error>
                <mat-error  *ngIf="street.hasError('pattern') && !street.hasError('required')">
                    Street not valid!
                </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 13rem;margin-left: 1rem;" appearance="fill">
                <mat-label>Street number</mat-label>
                <input matInput [(ngModel)]="user.address.streetNumber" [formControl]="streetNumber" placeholder="Ex. 25a" (change)="ValidateForm()">
                <mat-error  *ngIf="streetNumber.hasError('required')">
                    Street number is <strong>required</strong>!
                </mat-error>
                <mat-error  *ngIf="streetNumber.hasError('pattern') && !streetNumber.hasError('required')">
                    Street number not valid!
                </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 10rem;margin-left: 1rem; margin-right: 1rem;" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput [(ngModel)]="user.address.city" [formControl]="city" placeholder="Ex. 25a" (change)="ValidateForm()">
                <mat-error  *ngIf="city.hasError('required')">
                    City is <strong>required</strong>!
                </mat-error>
                <mat-error  *ngIf="city.hasError('pattern') && !city.hasError('required')">
                    City not valid!
                </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 10rem;" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput [(ngModel)]="user.address.country" [formControl]="country" placeholder="Ex. 25a" (change)="ValidateForm()">
                <mat-error  *ngIf="country.hasError('required')">
                    Country is <strong>required</strong>!
                </mat-error>
                <mat-error  *ngIf="country.hasError('pattern') && !country.hasError('required')">
                    Country not valid!
                </mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input matInput [(ngModel)]="user.phoneNumber" [formControl]="phone" placeholder="Ex. +381661112233" (change)="ValidateForm()">
            <mat-error  *ngIf="phone.hasError('required')">
                Phone number is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="phone.hasError('pattern') && !phone.hasError('required')">
                Phone number not valid!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Blood type</mat-label>
            <mat-select [(value)]="user.bloodType">
                <mat-option *ngFor="let BloodType of BloodTypes" [value]="BloodType.BloodType">
                {{BloodType.BloodTypeString}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label>Pick your birthday</mat-label>
        <input placeholder="MM/DD/YYYY" matInput [min]="minDate" [max]="maxDate" (change)="ValidateForm()" [formControl]="birthDate" [matDatepicker]="picker" [(ngModel)]="user.birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error  *ngIf="!birthDate.hasError('required') && (minDate > user.birthDate || user.birthDate > maxDate)">
            Date not valid!
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="user.username" [formControl]="username" placeholder="Ex. pRoXm" (change)="ValidateForm()">
            <mat-error  *ngIf="username.hasError('required')">
                Username is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="username.hasError('pattern') && !username.hasError('required')">
                Username not valid!
            </mat-error>
            <mat-error  *ngIf="username.hasError('UsernameUnique') && !username.hasError('pattern') && !username.hasError('required')">
                Username not unique!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Allergens</mat-label>
            <mat-select [formControl]="allergens" [(ngModel)]="user.allergens" multiple>
              <mat-select-trigger>
                {{GetAllergenString(allergens.value?.[0] || '')}}
                <span *ngIf="(allergens.value?.length || 0) > 1" class="example-additional-selection">
                  (+{{(allergens.value?.length || 0) - 1}} {{allergens.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let allergen of Allergens" [value]="allergen">{{GetAllergenString(allergen)}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Your doctor</mat-label>
            <mat-select [(value)]="user.doctorUid">
                <mat-option *ngFor="let doctor of Doctors" [value]="doctor.uid">
                {{GetDoctorString(doctor)}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="user.password" [formControl]="password" type="password" (focusout)="ValidateForm()" placeholder="Ex. SuperCoolPassword" (change)="ValidateForm()">
            <mat-error  *ngIf="password.hasError('required')">
                Password is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="password.hasError('pattern') && !password.hasError('required')">
                Password not valid!
            </mat-error>
            <mat-error  *ngIf="password.hasError('PasswordMatch') && !password.hasError('pattern') && !password.hasError('required')">
                Password and confirm password dont match!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput [(ngModel)]="ConfirmPassword" [formControl]="confirmPassword" type="password" (focusout)="ValidateForm()" placeholder="Ex. SuperCoolPassword" (change)="ValidateForm()">
            <mat-error  *ngIf="confirmPassword.hasError('required')">
                Confirm password is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="confirmPassword.hasError('pattern') && !confirmPassword.hasError('required')">
                Confirm password not valid!
            </mat-error>
            <mat-error  *ngIf="confirmPassword.hasError('PasswordMatch') && !confirmPassword.hasError('pattern') && !confirmPassword.hasError('required')">
                Password and confirm password dont match!
            </mat-error>
        </mat-form-field>
    </div>
    <div style="display: flex; justify-content: center;">
        <button mat-stroked-button (click)="Register()" [disabled]="RegisterDisabled">
            Submit
        </button>
    </div>
</div>
