<div style="width: auto; flex-direction:column; flex: content; justify-content: center;margin-bottom: 5rem;">
    <h1 style="text-align: center; margin-top: 5rem; font-weight: 600; font-size: 3.75rem;line-height: 1;" class="text">Registration</h1>
    <p style="text-align: center; margin-top: 16px; font-weight: 600; font-size: 1.875rem;line-height: 2.25rem;" class="text">Please, fill every field validly!</p>
    <div style="display: flex; flex-direction: column;margin-top: 5rem;margin-bottom: 3rem;">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="User.Name" required [formControl]="name" placeholder="Ex. Pera"  (change)="ValidateForm()">
        <mat-error  *ngIf="name.hasError('required')">
            Surname is <strong>required</strong>!
        </mat-error>
        <mat-error  *ngIf="name.hasError('pattern') && !name.hasError('required')">
            Surname not valid!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput [(ngModel)]="User.Surname" required [formControl]="surname" placeholder="Ex. Peric" pattern="[a-zA-Z ]*" (change)="ValidateForm()">
        <mat-error  *ngIf="surname.hasError('required')">
            Surname is <strong>required</strong>!
        </mat-error>
        <mat-error  *ngIf="surname.hasError('pattern') && !surname.hasError('required')">
            Surname not valid!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="User.Email" [formControl]="email" placeholder="Ex. gmail@gmail.com" (change)="ValidateForm()">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address!
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Uid</mat-label>
        <input matInput type="string" maxlength="8" [formControl]="uid" placeholder="Ex. 12345678" [(ngModel)]="User.Uid" (change)="ValidateForm()">
        <mat-error  *ngIf="uid.hasError('required')">
            Uid is <strong>required</strong>!
        </mat-error>
        <mat-error  *ngIf="uid.hasError('pattern') && !uid.hasError('required')">
            Uid not valid!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="User.Address" [formControl]="address" placeholder="Ex. Street 25" (change)="ValidateForm()">
        <mat-error  *ngIf="address.hasError('required')">
            Address is <strong>required</strong>!
        </mat-error>
        <mat-error  *ngIf="address.hasError('pattern') && !address.hasError('required')">
            Address not valid!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput [(ngModel)]="User.PhoneNumber" [formControl]="phone" placeholder="Ex. +381661112233" (change)="ValidateForm()">
        <mat-error  *ngIf="phone.hasError('required')">
            Phone number is <strong>required</strong>!
        </mat-error>
        <mat-error  *ngIf="phone.hasError('pattern') && !phone.hasError('required')">
            Phone number not valid!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Blood type</mat-label>
        <mat-select [(value)]="User.BloodType">
            <mat-option *ngFor="let BloodType of BloodTypes" [value]="BloodType.BloodType">
            {{BloodType.BloodTypeString}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label>Pick your birthday</mat-label>
        <input placeholder="MM/DD/YYYY" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="User.BirthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="User.Username" [formControl]="username" placeholder="Ex. pRoXm" (change)="ValidateForm()">
            <mat-error  *ngIf="username.hasError('required')">
                Username is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="username.hasError('pattern') && !username.hasError('required')">
                Username not valid!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="User.Password" [formControl]="password" type="password" placeholder="Ex. SuperCoolPassword" (change)="ValidateForm()">
            <mat-error  *ngIf="password.hasError('required')">
                Password is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="password.hasError('pattern') && !password.hasError('required')">
                Password not valid!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput [(ngModel)]="ConfirmPassword" [formControl]="confirmPassword" type="password" placeholder="Ex. SuperCoolPassword" (change)="ValidateForm()">
            <mat-error  *ngIf="confirmPassword.hasError('required')">
                Confirm password is <strong>required</strong>!
            </mat-error>
            <mat-error  *ngIf="confirmPassword.hasError('pattern') && !confirmPassword.hasError('required')">
                Confirm password not valid!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Allergens</mat-label>
            <mat-select [formControl]="allergens" [(ngModel)]="User.Allergens" multiple>
              <mat-select-trigger>
                {{allergenString(allergens.value?.[0] || '')}}
                <span *ngIf="(allergens.value?.length || 0) > 1" class="example-additional-selection">
                  (+{{(allergens.value?.length || 0) - 1}} {{allergens.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let allergen of AllergensList" [value]="allergen">{{allergenString(allergen)}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="display: flex; justify-content: center;">
    <button mat-stroked-button (click)="register()" [disabled]="RegisterDisabled">
        Submit
    </button>
    </div>
</div>
