.myAppointmentContainer{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.errorText{
    width: 40rem;
    margin-left: 3rem;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #00eaff !important;
}
.spinner{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    position:fixed;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.50);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    left:0;
}
.mainSpinning{
    z-index: 160;
    position: fixed;
    top: 45%;
    left: 50%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    transform: translate(-45%, -50%);
    background-color: rgba(5, 209, 255, 0.7);
    border-radius: 64px;
    box-shadow: rgba(5, 209, 255, 0.7) 0px 4px 24px 4px, rgba(5, 209, 255, 0.7) 0px 0px 0px 0px !important;
}
.header{
    font-weight: 700;
    font-size: 3rem; /* 96px */
    line-height: 1;
    text-align: center;
}
.inner_button {
  margin: 2px;
}

mat-form-field {
    width: 37rem;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #06b6d4;
}

.mat-button:hover {
    transition: 0.2s !important;
    transform: scale(1.05);
}
.mat-button {
    background: #0A6887;
    background: -webkit-linear-gradient(top left, #0A6887, #3B25CA);
    background: -moz-linear-gradient(top left, #0A6887, #3B25CA);
    background: linear-gradient(to bottom right, #0A6887, #3B25CA);
    color: white;
    border-radius: 12px !important;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s !important;
}

.table_text{
  font-size: 20px;
}

.tableContainer {
    margin-top: 32px;
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 35%, rgb(0, 115, 255) 100%);
    vertical-align: middle;
    padding-top: 24px;
    padding-bottom: 24px;
    width: calc(100% - 64px);
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 24px 8px, rgba(0, 0, 0, 0.36) 0px 0px 0px 0px;
}

.mat-cell {
  padding: 0px 0px 0px 0px !important;
  text-align: center;
}
.mat-header-cell{
  padding: 0px 0px 0px 0px !important;
  text-align: center;
}

.tableHeader{
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.underLine{
  border-bottom: 1px #06b6d4;
}

.table {
    background-color: rgba(35,38,41,0); 
    width: 100%;
    border-spacing:16px 0px;
}