.nav {
    z-index: 220;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #334155;
    color: #2c84ff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 70px;
    justify-content: flex-end;
  }
  
  .burger {
    font-size: 50px;
    cursor: pointer;
  }
  
  .logged-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
.name-surname {
    display: flex;
    gap: 5px;
}
  
.image-holder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #334155;
    background: linear-gradient(90deg, rgb(137, 190, 255) 0%, rgb(66, 151, 255) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}