<div class="links">
    <div class="navbarLinks">
        <button mat-button class="text" [routerLink]="['']" >Landing page</button>
        <button mat-button class="text" [routerLink]="['patient/feedback/create']" [hidden]="isHiddenLogout()" >Give feedback</button>
    </div>
    <div class="authLinks">
        <button mat-button class="text" (click)="onLogout()" [hidden]="isHiddenLogout()">Logout</button>
        <button mat-button class="text" [routerLink]="['login']" [hidden]="isHidden()">Login</button>
        <button mat-button class="text" [routerLink]="['user/register']" [hidden]="isHidden()">Register</button>
    </div>
</div>
