.navbarLinks{
    display: flex;
    gap: 20px;
    background-color:#075985;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 4px solid #0c4a6e; 
    flex-grow: 1;
    }
.authLinks{
    display: flex;
    gap: 20px;
    background-color:#075985;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 4px solid #0c4a6e; 
    }
.links{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 200;
    }
Button {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-weight: 500;
    }