<div style="display: flex;">
    <div class="LandingHero">
        <img src="{{HospitalImage}}" alt="Hospital" class="hospitalImage">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign1">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign2">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign3">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign4">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign5">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign6">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign7">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign8">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign9">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign10">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign11">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign12">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign13">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign14">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign15">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign16">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign17">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign18">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign19">
        <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign20">
    </div>
    <div style="text-align: center; flex-grow: 1;margin-top: 48px;">
        <h1 class="text header">Hospital name</h1>
        <app-advertisements></app-advertisements>
        <app-published-feedback-list></app-published-feedback-list>
    </div>
</div>

