<div class="landing-page-wrapper">
    <!-- [ngClass]="navMoved ?'nav-moved':''" -->
    <nav class='nav'>
        <div class="logo-wrapper">
            <img src="../../../assets/logo.png" alt="">
        </div>

        <div class="app-wrapper">
            <button class="nav-button">Sign In</button>
            <!-- <button class="nav-button">Go to App -></button> -->
        </div>
    </nav>
    <section id="introduction">
        <div class="text-wrapper">
            <h1>Your smile is our mission!</h1>
            <small>
                With our app, you can easily access your medical information, schedule appointments, and communicate
                with your healthcare providers from the comfort of your own home.
            </small>
            <button>Register Now!</button>
        </div>
        <div class="image-wrapper">
        </div>
    </section>
    <section id="why-us">
        <h1>Why us?</h1>
        <div class="why-us-wrapper">
            <div class="why-us-card">
                <h2>Secure and easy access to your medical records</h2>
                <small>
                    Instead of keeping medical records in paper form,
                    we offer digital medical records.
                </small>
            </div>
            <div class="why-us-card">
                <h2>The ability to schedule and manage appointments</h2>
                <small>
                    Our system contains fully automated process of schedulling appointments,
                    including consiliums and examinations.
                </small>
            </div>
            <div class="why-us-card">
                <h2>Time optimization</h2>
                <small>
                    You can easily create, cancel and track your current or previous
                    appointments. See your history using our modern material calendar.
                </small>
            </div>
            <div class="why-us-card">
                <h2>Transparency</h2>
                <small>
                    We don't mind if you leave us a feedback.
                    Every customer has possibility to leave a good or bad feedback.
                    Tell us what do you think!
                </small>
            </div>
        </div>
    </section>
</div>