<h1>Leave your feedback! Thank you!</h1>
<div>
    <table class="center">
    <tr>
<textarea name="message" rows="8" [(ngModel)]="feedback.feedbackContent" class="smalltext" rows = "5" cols = "60" name = "description">
 </textarea>
    </tr>
    <tr>
        <td><input type="checkbox" name="privateFlag" [(ngModel)]="feedback.allowPublishment"/>I want my feedback to remain private</td>
    </tr>
    
    <tr>
    <button class="smalltext" type="submit" (click)="createFeedback()">
    Submit!</button>
    </tr>
</table>
</div>