<div class="LandingHero">
    <img src="{{HospitalImage}}" alt="Hospital" class="hospitalImage">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign1">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign2">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign3">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign4">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign5">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign6">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign7">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign8">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign9">
    <img src="{{HospitalSign}}" alt="Hospital Sign" class="hospitalSign10">
</div>
