/* You can add global styles to this file, and also import other style files */
body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
    background-color: #1e293b;
}
.text {
    color: #06b6d4 !important;
    font-family: Garamond, serif !important;
    margin-bottom: 0px !important;
}

.mat-stepper-vertical{
    background-color: #1e293b;
}
.mat-step-text-label{
    color: #67e8f9;
}
.mat-step-header .mat-step-icon-selected{
    background-color: #67e8f9 !important;
    color:#1e293b !important;
    transition: 0.2s !important;
}
.mat-step-icon-state-edit
{
    background-color: #67e8f9 !important;
    color:#1e293b !important;
    transition: 0.2s !important;
}
.mat-step-icon-state-number
{
    color:#67e8f9 !important;
    transition: 0.2s !important;
}

.mat-stepper-next:hover {
    color: #334155;
    background-color: #67e8f9;
    transition: 0.2s !important;
    border-radius: 16px !important;

}
.mat-stepper-next {
    color: #334155;
    transition: 0.2s !important;
    background-color: #06b6d4;
    border-radius: 50% !important;
    font-size: 1.25rem;
}
.mat-stepper-previous:hover {
    color: #334155;
    background-color: #67e8f9;
    transition: 0.2s !important;
    border-radius: 16px !important;
}
.mat-stepper-previous {
    color: #334155;
    transition: 0.2s !important;
    background-color: #06b6d4;
    border-radius: 50% !important;
    margin-right: 16px !important;
    font-size: 1.25rem;
}

.mat-stroked-button:hover {
    color: #334155;
    background-color: #67e8f9;
    transition: 0.2s !important;
    border-radius: 16px !important;
  }
  
.mat-stroked-button:disabled {
  color: #466070;
  background-color: #334155;
  transition: 0.2s !important;
  border-radius: 50% !important;
}
.mat-stroked-button {
    color: #334155;
    transition: 0.2s !important;
    background-color: #06b6d4;
    border-radius: 50% !important;
}


[hidden] {
    display: none !important;
  }
mat-option{
  color: #06b6d4 !important;
}
.mat-form-field-type-mat-select .mat-form-field-label, .mat-select-value {
  color: #06b6d4;
}
.mat-select-panel {
  background-color: #475569;
}
.not-empty-select.mat-selected {
  color: #0e7490 !important;
}

.mat-form-field-label {
    color: #06b6d4 !important;
  }
  .mat-input-element::placeholder{
    color: #0e7490 ;
 }
  
 .mat-focused .mat-form-field-label {
  color: #06b6d4 !important;
}
::ng-deep .mat-form-field-infix{
  color: #06b6d4 !important;
}
.mat-form-field-ripple {
  background-color: #06b6d4 !important;
}

.mat-form-field-empty.mat-form-field-label{
    color: #06b6d4 !important;
}

.mat-form-field-underline{
  color: #06b6d4 !important;
  background-color: #06b6d4 !important;
}

.mat-form-field-underline {
  color: #06b6d4 !important;
  background-color: #06b6d4 !important;
}

input{
    color: #06b6d4 !important;
} 
 
 mat-datepicker-toggle {
  color: #06b6d4 !important;
 }
 p{
  margin-bottom: 0px !important;
 }